form#registration-form.form-horizontal(role='form', method='post', action='/register')
    .form-group
        label.col-sm-2.control-label(for='name') 예약자 이름
        .col-sm-10
            input#name.form-control(type='text', name='name', placeholder='',required)
    .form-group
        label.col-sm-2.control-label(for='resno') 예약 번호
        .col-sm-10
            input#resno.form-control(type='text', name='resno', placeholder='',required)
            p.help-block 예약번호는 휴대폰 뒷번호 8자리입니다.
    .form-group
        label.col-sm-2.control-label(for='date') 이용일
        .col-sm-10
            input#date.datepicker.form-control(type='text', name='date', placeholder='',required)
    .form-group
        label.col-sm-2.control-label(for='time') 이용 시간
        .col-sm-10
            select#time.selectpicker(name='time', data-style='form-control', data-menu-style='',required)
                option(disabled='', selected='')  시간 선택
                option(value='0930')  09:30
                option(value='1430')  14:30
    br
    .form-group
        label.col-sm-2.control-label(for='time') 예약 인원
        .col-sm-10
            .col-sm-3.text-center
                label(for='cnt1') 대인
                br

                select#cnt1.selectpicker(name='cnt1', data-style='form-control', data-menu-style='')
                    option(value='0') 없음
                    - for (var x = 1; x <= 50; x++)
                        option(value='#{x}') #{x}명
                br
                br
            .col-sm-3.text-center
                label.text-center(for='cnt2') 청소년
                select#cnt2.selectpicker(name='cnt2', data-style='form-control', data-menu-style='')
                    option(value='0') 없음
                    - for (var x = 1; x <= 50; x++)
                        option(value='#{x}') #{x}명
                br
                br
            .col-sm-3.text-center
                label(for='cnt3') 소인
                select#cnt3.selectpicker(name='cnt3', data-style='form-control', data-menu-style='')
                    option(value='0') 없음
                    - for (var x = 1; x <= 50; x++)
                        option(value='#{x}') #{x}명
                br
                br
            .col-sm-3.text-center
                label(for='cnt4') 유아
                select#cnt4.selectpicker(name='cnt4', data-style='form-control', data-menu-style='')
                    option(value='0') 없음
                    - for (var x = 1; x <= 50; x++)
                        option(value='#{x}') #{x}명
                br
                br
            p.help-block 청소년 : 중고등학생, 소인 : 만3세 ~ 초등학생, 유아 : 0 ~ 만2세
    .form-group
        .col-sm-offset-2.col-sm-10.text-center
            .submit
                input.btn.btn-info.btn-fill.btn-lg(type='submit', value='온라인 예약하기')